allure-results/
solution/
.pytest_cache
*.pyc
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
#*.py[cod]
#*$py.class

# Distribution / packaging
.Python
env/
#build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
#pip-log.txt
#pip-delete-this-directory.txt

# pyenv
.python-version

# dotenv
.env

# ini
config.ini

# Visual Studio Code
# I may want to upload this for now?
# *.vscode/

# Sublime settings
*.sublime*

# virtualenv
venv/

# terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
